<link rel="stylesheet" href="/gameboard/css/gameboard.css">

<div id="gameboard" class="section-profile">
    <div class="row">
        <div class="topleft duk-icon"><img onclick="removeSection('gameboard')" src="/gui/img/x.png"></div>
        <div class="bottomright duk-icon"><img onclick="toggleSidebar('gameboard-sidebar')" src="/gui/img/expand.png"></div>
        <div id="gameboard-sidebar" class="column section-border" style="flex:25%;text-align:left;padding:15px;">
             <h1 style="font-size:50px;margin-top:0;">GameBoard</h1>
             <h2 style="margin-top:-35px">red vs. blue exercises</h2>
             <p>
                 Monitor red-and-blue team operations during an exercise to see if blue can detect, respond and
                 shut down a red-team adversary.
             </p>
             <br>
             <select id="red-operations" onchange="refresh()">
                <option value="" disabled selected>Select a red operation</option>
                {% for op in red_ops %}
                    <option value="{{ op.id }}">{{ op.name }} - {{ op.start }}</option>
                {% endfor %}
             </select>
             <p id="red-status" class="status" style="display: None"></p>
            <select id="blue-operations" onchange="refresh()">
                <option value="" disabled selected>Select a blue operation</option>
                {% for op in blue_ops %}
                    <option value="{{ op.id }}">{{ op.name }} - {{ op.start }}</option>
                {% endfor %}
             </select>
            <p id="blue-status" class="status" style="display: None"></p>
            <br>
            <button class="button-success button-atomic" onclick="refresh()">Refresh</button>
            <button class="button-success button-atomic" id="elastic-op" onclick="openAnalyticModal()">Custom Analytic</button>
        </div>
        <div id="the-gameboard" class="column">
            <div class="gameboard-row scoreboard">
              <div class="gameboard-column side"></div>
              <div class="gameboard-column">
                  <div class="scoreboard-points scoreboard-red">
                      <p id="gb-red-points">0</p>
                      <p style="font-size:12px;margin-top: -40px">points</p>
                  </div>
              </div>
              <div class="gameboard-column mid">
                  <h3>Process</h3>
              </div>
              <div class="gameboard-column">
                  <div class="scoreboard-points scoreboard-blue">
                      <p id="gb-blue-points">0</p>
                      <p style="font-size:12px;margin-top: -40px">points</p>
                  </div>
              </div>
              <div class="gameboard-column side"></div>
            </div>
            <div id="exchanges" style="margin: 10px 0px;"></div>
        </div>
    </div>
</div>

<div id="exchange" class="gameboard-row" style="display:none;">
  <div class="gameboard-column red points-delta"></div>
  <div class="gameboard-column red gp-link"></div>
  <div class="gameboard-column mid">
      <span class="gp-pid"></span>
      <span class="gp-host"></span>
  </div>
  <div class="gameboard-column blue gp-link"></div>
  <div class="gameboard-column blue points-delta"></div>
</div>
<div id="red-wrapper" class="gp-wrapper" style="display:none"></div>
<div id="blue-wrapper" class="gp-wrapper" style="display:none"></div>
<div id="red-piece" class="gameboard-column gp-red" style="display:none">
    <span class="golden-goose"><span></span></span>
    <span class="gp-ability"></span>
    <span class="gp-time"></span>
    <span class="gp-agent"></span>
</div>
<div id="blue-piece" class="gameboard-column gp-blue" style="display:none">
    <span class="golden-goose"><span></span></span>
    <span class="gp-ability"></span>
    <span class="gp-time"></span>
    <span class="gp-agent"></span>
</div>
<div id="cover-piece" class="gameboard-column gp-cover" style="display:none">
    <span class="gp-ability"></span>
    <span class="gp-tid"></span>
    <span class="gp-reveal">Click to reveal more information</span>
</div>
<div id="points-wrapper" class="points-wrapper" style="display:none"></div>
<div id="points-piece" class="gameboard-column gp-points points-cover" style="display:none">
    <span class="points-value"></span>
</div>
<div id="points-details" class="gameboard-column gp-points points-details" style="display:none">
    <span class="points-reason"></span>
</div>

<div id="piece-modal" class="modal">
    <div class="modal-content ability-viewer">
        <div class="imgcontainer">
          <span onclick="resetPieceModal();" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container" style="text-align:left; padding: 10px 50px 100px;">
            <div class="column" style="margin: 20px 0px;">
                <table style="border-spacing:2px;width:100%;" rules="rows">
                    <tbody>
                        <tr>
                            <td style="width: 10%;"><b>Link Unique:</b></td>
                            <td><div id="piece-id" style="padding: 10px 0px;"></div></td>
                        </tr>
                        <tr>
                            <td style="width: 10%;"><b>Ability:</b></td>
                            <td><div id="piece-ability" style="padding: 10px 0px;"></div></td>
                        </tr>
                        <tr>
                            <td style="width: 10%;"><b>Pinned PID:</b></td>
                            <td>
                                <input class="pin" type="text" id="piece-pin" placeholder="PID">
                                <div style="padding: 10px 0px; display: none" id="piece-pid"></div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:10%"><b>Command:</b></td>
                            <td><pre id="piece-cmd" style="margin: 10px 0px;"></pre></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="facts-found">
                <h4 class="collapsible" id="facts-found-header">New Facts Found</h4>
                <div class="collapsible-content" id="piece-fact-list" style="display: none">
                    <pre id="default-fact" style="display: none"></pre>
                </div>
            </div>
            <div id="suggested-queries">
                <h4 class="collapsible" id="suggested-queries-header">Suggested Queries</h4>
                <div class="collapsible-content" id="piece-queries" style="display: none">
                    <p id="default-query-type" style="display:none"></p>
                    <pre id="default-query" style="display: none"></pre>
                </div>
            </div>
            <button class="button-success atomic-button pin-save" id="pin-save" onclick="savePin()">Save</button>
            <div class="save-msg" id="save-pin-msg" style="display: none"></div>

        </div>
    </div>
</div>

<div id="analytic-op-modal" class="modal">
    <div class="modal-content ability-viewer">
        <div class="imgcontainer">
          <span onclick="resetAnalyticOpModal();" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container" style="text-align:left; padding: 10px 50px 100px;">
            <div class="column" style="margin: 20px 0px;">
                <table style="border-spacing:2px;width:100%;" rules="rows">
                    <tbody>
                        <tr>
                            <td style="width: 10%;"><b>Name:</b></td>
                            <td><input id="analytic-name" style="padding: 10px 0px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 10%;"><b>Query:</b></td>
                            <td><textarea id="analytic-query" style="padding: 10px 0px; width: 90%"></textarea></td>
                        </tr>
                    </tbody>
                </table>
                <center><div id="analytic-error"></div></center>
            </div>

            <button class="button-success atomic-button pin-save" id="analytic-save" onclick="createAnalytic()">Create Analytic</button>
        </div>
    </div>
</div>

<script src="/gameboard/js/gameboard.js"></script>
